{% extends "modelbase.html" %}

{%- macro getlivetime(component, primary) -%}
{{ g.model.getsimdata(component=component)|selectattr('spec.name','eq',primary)|sum(attribute='livetime',) }}
{%- endmacro -%}

{% block pagecontent %}
<table id="livetimetable" class="table">
    {% set isos=['U238', 'Th232', 'K40'] %}
    <thead>
	<tr><th>Component</th>{%- for iso in isos %} <th>{{ iso }}</th> {%- endfor %}</tr>
    </thead>
    <tbody> {% for placement in g.model.assemblyroot.components recursive %}
	{% set component = placement.component %}
	{% set simdata = g.model.getsimdata(component=component)|list %}
	<tr>
	    <td style="padding-left: {{ loop.depth0 }}em">
		<a href="{{ url_for('.componentview',component=component) }}">
		    {{ placement.name }}
		</a>
	    </td>
	    {% for iso in isos %} 
		{% set specdata = simdata|selectattr('spec.name','eq',iso) %}
		{% set livetime = specdata|sum(attribute='livetime') %}
	    <td>{% if livetime %}{{ "{:~.0fP}".format(livetime.to('year')) }}{% endif %}</td>
	    {% endfor %}
	</tr>
    {% if component.components %}{{ loop(component.components) }}{% endif %}
    {% endfor %}</tbody>
    
{% endblock %}
